.rootContainer {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardCommentStyle {
    min-width: 30vw;
    max-width: 40vw;
}

.cardAdjust {
    height: 10vh;
}

.commentsContainer {
    min-width: 30vw;
    max-width: 40vw;
}
