.cardInfo {
    min-width: 12vw;
    height: 19vh;
    margin: 4px;
    background-color: #42A5F5;
    .cardText {
        color: white;
    }
    &:hover {
        cursor: pointer;
        -webkit-box-shadow: -1px 11px 49px -10px rgba(0,0,0,0.5);
        -moz-box-shadow: -1px 11px 49px -10px rgba(0,0,0,0.5);
        box-shadow: -1px 11px 49px -10px rgba(0,0,0,0.5);
        .cardText {
            color: #37474F;
        }
    }
}

.cardDefault {
    min-width: 12vw;
    height: 19vh;
    margin: 4px;
    .cardText {
        color: #37474F;
    }
    &:hover {
        cursor: pointer;
        -webkit-box-shadow: -1px 11px 49px -10px rgba(0,0,0,0.5);
        -moz-box-shadow: -1px 11px 49px -10px rgba(0,0,0,0.5);
        box-shadow: -1px 11px 49px -10px rgba(0,0,0,0.5);
    }
}